VITE_SUPABASE_URL=https://ussyywplswencwgrjptk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzc3l5d3Bsc3dlbmN3Z3JqcHRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgyNDg0NDksImV4cCI6MjA5MzgyNDQ0OX0.PXoxMGqAv1VpvVoR_ZGOKDbdetxf9MKsS8S9wcRYvH4
